.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
/.vscode/

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
!.idea/runConfigurations
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### P2P Lending platform
!.idea/rßunConfigurations/
/config-service/
/identity-service/
/api-gateway/
/account-service/
/loan-service/
/loan-application-service/
/logging-service/
/scoring-service/
/im-service/
/payment-service/
/report-service/
/admin-cp/

