.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
/.vscode/

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### P2P Lending platform
/account-service/
/loan-service/
/im-service/
/loan-application-service/
/admin-cp/
/api-gateway/